<!DOCTYPE html>
<html {{ language_attributes() }}>
<head>
    <title>{% block title %}{{ app.site_name }} Admin{% endblock %}</title>
    {% block head_meta -%}
        <meta name="robots" content="noindex,follow" />
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('phial_admin_css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('phial_admin_js') }}"></script>
    {% endblock %}

    {% block head_extra %}{% endblock %}
</head>
<body {{ body_class('admin') }}>

<nav class="navbar">
    <ul>
        <li>
            <a href="{{ url('admin') }}">{{ app.site_name }}</a>
        </li>

        <li>
            <a href="{{ url('admin.users.list') }}">Users</a>
        </li>
    </ul>
</nav>

<div class="container">

    <header class="admin-header row">
        <div class="fourteen columns">
            <h1 class="admin-title">{% block admin_title %}{{ app.site_name }} Admin{% endblock %}</h1>

            {% block admin_after_title %}{% endblock %}
        </div>
    </header>

    <div class="row admin-content">
        {% block admin_content %}{% endblock %}
    </div>

    <footer class="admin-footer row">
        {% block footer_content %}
        <p>
            Powered by Phial. A <a href="http://christopherdavis.me" rel="nofollow external">Christopher Davis</a> thing.
        </p>
        {% endblock %}
    </footer>

</div>

{% block footer_extra %}{% endblock %}
</body>
</html>
