<!DOCTYPE html>
<html {{ language_attributes() }}>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block head_meta -%}
        <meta name="robots" content="noindex,follow" />
    {% endblock %}


    <link href="{{ asset('phial_admin_css') }}" type="text/css" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="{{ asset('phial_admin_js') }}"></script>
    {% block javascripts %}{% endblock %}

</head>
<body {{ body_class('admin') }}>

<div class="admin-bar">
    <div class="pad">

        <div class="bar-item">
            <a href="{{ url('admin') }}">{{ app.site_name }}</a>
        </div>

        <div class="bar-item">
            <a href="{{ url('admin.users.list') }}">Users</a>
        </div>

    </div>
</div>

<header class="admin-header">
    <div class="outer-wrap">
        <div class="inner-wrap">

            <h1 class="admin-title">{% block admin_title %}{{ app.site_name }} Admin{% endblock %}</h1>

            {% block admin_after_title %}{% endblock %}

        </div>
    </div>
</header>

</body>
</html>
