.admin-footer {
  border-top: 1px solid #ccc;
  margin-top: 3em;
  padding: 1em 0 4em;
}

td, th {
  padding: 0.5em 1em;
}

.admin-content {
  margin-top: 2em;
}

.list-table {
  width: 100%;
}

.list-table thead,
.list-table tfoot {
  background: #E9E9E9;
}

.list-table tbody tr {
  border-top: 1px solid #ccc;
}

.list-table tbody tr:first-child {
  border-top: none;
}

.form-row {
  margin-bottom: 1em;
}

.form-row p {
  margin-bottom: 0.3em;
}

.messages-wrap {
  margin-bottom: 1.5em;
}

.action-form {
  margin-bottom: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.action-form button[type="submit"] {
  padding: 0 10px;
}

.logout-form {
  margin-bottom: 0;
}

.logout-form-wrap {
  padding: 0 16px;
}
