.admin-footer {
  border-top: 1px solid #ccc;
  margin-top: 3em;
  padding: 1em 0 4em;
}

td, th {
  padding: 0.5em 1em;
}

.list-table {
  margin-top: 2em;
  width: 100%;
}

.list-table thead,
.list-table tfoot {
  background: #E9E9E9;
}

.list-table tbody tr {
  border-top: 1px solid #ccc;
}

.list-table tbody tr:first-child {
  border-top: none;
}
